APP_HOST=localhost
APP_PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=food_mapp_development
DB_QUEUE_NAME=food_mapp_development_queue
DB_TEST_NAME=food_mapp_test
DB_QUEUE_TEST_NAME=food_mapp_test_queue
GEOCODER_USER_AGENT="food_mapp/1.0 (contact@example.com)"
# MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
# MAP_ATTRIBUTION=&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
