APP_HOST=localhost
APP_PORT=3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=food_mapp_development
DB_QUEUE_NAME=food_mapp_development_queue
DB_TEST_NAME=food_mapp_test
DB_QUEUE_TEST_NAME=food_mapp_test_queue
GOOGLE_MAPS_API_KEY=
