<div class= "nested-fields">
  <div>
    <%= link_to_remove_association "remove location", f %>
  </div>
  <div><%# f.input :description, label: false %></div>
  <div><%# f.input :done, label: false %></div>
</div>
